.orgchart-container {
  position: relative;
  overflow: hidden;
  cursor: grab;
  user-select: none;
}

.orgchart-container:active {
  cursor: grabbing;
}

.nodes-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nodes-overlay > div {
  pointer-events: auto;
}

.links-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
}
